@model EndSickness.Models.ViewModels.IndexViewModel;
<div class="main_container">
    <section class="user_medicines">
        <h2>Your medicines</h2>
        @foreach (var item in Model.MedicineList.Medicines)
        {
            <div class="user_medicine">
                <div class="user_medicine_title">
                    @item.Name
                </div>
                <div class="user_medicine_actions">
                    <a href="/Medicine/Update/@item.Id" class="btn_update">
                        <img src="/img/icons8-edit-24.png">
                    </a>
                    <a href="/Medicine/Delete/@item.Id" class="btn_delete">
                        <img src="/img/icons8-remove-24.png">
                    </a>
                </div>
            </div>
        }
        <a href="/Medicine/Create" class="btn_add">
            <img src="/img/icons8-plus-24.png">
            <span>Add new medicine</span>
        </a>
    </section>
    <main class="user_dosages">
        <header>
            <h2>Your schedule</h2>
            <a href="/Dosage/Note" class="btn_add">
                <img src="/img/icons8-plus-24.png">
                <span>Note a dose</span>
            </a>
        </header>
        <div class="user_dosages_list">
            @foreach (var item in Model.DosageList.Dosages)
            {
                <div class="user_dosage">
                    <div class="user_dosage_column">
                        <span>Name</span>
                        <span>@item.MedicineName</span>
                    </div>
                    <div class="user_dosage_column">
                        <span>Last dose</span>
                        <span>@item.LastDose.ToString("d MMM yy HH:mm")</span>
                    </div>
                    <div class="user_dosage_column">
                        <span>Next dose</span>
                        <span>@item.NextDose.ToString("d MMM yy HH:mm")</span>
                    </div>
                    <div class="user_dosage_column">
                        <span>Max. dosage time</span>
                        <span>
                            @{
                                var x = Model.MedicineList.Medicines.Single(m => m.Id == item.MedicineId).MaxDaysOfTreatment;
                            }
                            @x
                            @(x == 1 ? "day" : "days")
                        </span>
                    </div>
                    <div class="user_dosage_column user_dosage_column_actions">
                        <a href="/Medicine/@item.MedicineId/Dosages" class="btn_update">
                            <img src="/img/icons8-edit-24.png">
                        </a>
                        <a href="/Dosages/Delete/@item.MedicineId" class="btn_delete">
                            <img src="/img/icons8-remove-24.png">
                        </a>
                    </div>
                </div>
            }
        </div>
    </main>
</div>